.form {
  margin: 0 auto;
  max-width: 500px;
}

.wrapper {
  margin: 0;
  padding: 0;
  list-style: none;
}

.wrapper li {
  position: relative;
  margin-bottom: 15px;
  padding-left: 44px;
}

.wrapper li::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 30px;
  height: 30px;
  background: #8a4baf;
  border-radius: 50%;
  display: inline-block;
  text-align: center;
  line-height: 30px;
  color: white;
  font-size: 16px;
  font-weight: bold;
  transform: translateY(-50%);
  z-index: 1;
}

.wrapper li:nth-child(odd)::before {
  background: #047857;
}

.wrapper li:last-child {
  margin-bottom: 0;
}

.input {
  width: 100%;
  padding: 10px 20px;
  border-radius: 20px;
  border: none;
  font-size: 16px;
  font-weight: 600;
  color: #4a5568;
  background-color: #edf2f7;
  transition: background-color 0.3s ease;
}

.input:focus {
  outline: none;
  background-color: #e2e8f0;
}

button {
  padding: 10px 20px;
  border-radius: 20px;
  border: none;
  background-color: #8a4baf;
  color: white;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #6b46c1;
}
